:root {
  --hbg-gold: #fff200;
  --hbg-brown: #764c29;
  --light-beige: #efebd9;
  --dark-green: #155e53;
  --dark-red: #731818;
  --black: #000;
  --white: #fff;
  --red: #e20202;
  --blue: blue;
  --light-grey: lightgray;
  --heavyfont: 900;
  --medfont: 700;
  --lightfont: 600;
  --font1: 30px;
  --font2: 24px;
  --font3: 18px;
  --font4: 16px;
  --padding-general: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font4);
  line-height: 1.6;
  background-color: var(--light-beige);
}

h1 {
  font-size: var(--font1);
  font-weight: var(--heavyfont);
}

h2 {
  font-size: var(--font2);
  font-weight: var(--heavyfont);
}

h3 {
  font-size: var(--font3);
  font-weight: var(--heavyfont);
}

a {
  color: var(--dark-green);
  font-weight: var(--lightfont);    
}

a:visited {
  color: var(--hbg-brown);
} 

a:hover, a:focus {
  /*Do not underline when hovering*/
  text-decoration: none;
  color: var(--dark-red);
  font-weight: var(--lightfont);
}

a:active {
  color: var(--dark-green);
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

button, 
.button {
  background-color: var(--hbg-gold);
  color: var(--black);
  font-weight: var(--lightfont);
  padding: 7px;
  border-radius: 8px;
  border-color: var(--hbg-brown);
  transition: opacity .5s;
}

button:hover, button:focus,
.button:hover, .button:focus {
  opacity: .7;
  cursor: pointer;
  border-color: var(--white);
  transition: opacity .5s;
}

.button_secondary {
  background-color: var(--red);
  color: var(--white);
  border-color: var(--black);
  transition: opacity .5s;
}

.button_secondary:hover, .button_secondary:focus {
  background-color: var(--black);
  color: var(--red);
  font-weight: var(--heavyfont);
  border-color: var(--red);
}



.page-header {
  display: flex;
  width: 100%;
  padding: var(--padding-general);
}

.page-header_item {
  flex: 0 1 200px;
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.content-area {
  margin: 20px;
}


@keyframes nc-color {
  0% {
      fill: var(--blue);
  }
  100% {
      fill: var(--red)
  }
}

@keyframes nc-rotate {
  from {
      transform: rotate(20deg);
  }
  to {
      transform: rotate(-20deg);
  }
}

.nc {
  text-align: center;
  scale: .5;
  animation: nc-color 5s infinite alternate linear, nc-rotate 5s infinite alternate linear;
}



/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
 }
/* end grid fallback */
 
@supports (display: grid) {
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0;
}

.grid_item {
  background-color: var(--light-grey);
  padding: var(--padding-general);
  width: auto;
  min-height: auto;
  margin: 0;
}

}

@media all and (max-width: 500px) {
  .grid {
      grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
      grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
      grid-gap: 10px;
  }
  .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
  }
  h1 {
      font-size: var(--font2);
  }
}